@use 'base';

.navbar {
  display: flex;
  justify-content: center;
  .league {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    padding: 30px;
    img {
      width: base.$img-size;
      height: base.$img-size;
    }
  }
}
